.image__slider {
  display: block;
  position: relative;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.image__slider img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image__slider img:first-child {
  opacity: 1;
  animation: slide 7s infinite;
}

@keyframes slide {
  0% {
    opacity: 1;
  }

  12.5% {
    opacity: 0;
    transform: translateX(-100%);
  }

  25% {
    opacity: 0;
    transform: translateX(-100%);
  }

  37.5% {
    opacity: 1;
    transform: translateX(100%);
  }

  50% {
    opacity: 1;
    transform: translateX(100%);
  }

  62.5% {
    opacity: 0;
    transform: translateX(100%);
  }

  75% {
    opacity: 0;
    transform: translateX(100%);
  }

  87.5% {
    opacity: 1;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}
