.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 70px;
}

.showcase__summary {
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}
